In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
dataset=("/content/drive/MyDrive/outbreak_detect.csv")
import pandas as pd

df=pd.read_csv(dataset)

In [4]:
df.head()

   maxTemp  minTemp  avgHumidity  Rainfall  Positive   pf Outbreak
0     29.0     18.0        49.74      0.00      2156  112       No
1     34.0     23.0        83.27     15.22     10717  677      Yes
2     40.0     23.0        50.74      0.00      1257  127       No
3      NaN     24.0        84.57     11.15      9693  482       No
4     34.0     24.0        59.16      9.06      4198  211       No

In [5]:
df.isnull().sum()

maxTemp        2
minTemp        1
avgHumidity    0
Rainfall       0
Positive       0
pf             0
Outbreak       1
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
from sklearn import preprocessing  
#labelencoding
LE=preprocessing.LabelEncoder()
#fitting it to our dataset
df.Outbreak=LE.fit_transform(df.Outbreak)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 24
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   maxTemp      23 non-null     float64
 1   minTemp      23 non-null     float64
 2   avgHumidity  23 non-null     float64
 3   Rainfall     23 non-null     float64
 4   Positive     23 non-null     int64
 5   pf           23 non-null     int64
 6   Outbreak     23 non-null     int64
dtypes: float64(4), int64(3)
memory usage: 1.4 KB

In [9]:
from matplotlib.axis import YTick
#method 2 to load the data in the form of arrays -by library numpy
import numpy as np
X=np.array(df[['minTemp','maxTemp','avgHumidity','Rainfall','Positive','pf']])
Y=np.array(df[['Outbreak']])

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [11]:
df.isnull().sum()

maxTemp        0
minTemp        0
avgHumidity    0
Rainfall       0
Positive       0
pf             0
Outbreak       0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=20)

In [13]:
from sklearn.linear_model import LogisticRegression
l=LogisticRegression()
l.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [14]:
y_pred=l.predict(X_test)
y_pred

array([0, 0, 1, 1, 1])

In [15]:
print("Predicted value for training data:",l.score(X_train,Y_train)*100)
print("Predicted value for testing data:",l.score(X_test,Y_test)*100)

Predicted value for training data: 88.88888888888889
Predicted value for testing data: 100.0

In [16]:
a=l.score(X,Y)*100
a

91.30434782608695

In [17]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, y_pred) 
print(cm) 
accuracy_score(Y_test, y_pred) #TN FP FN TP

[[2 0]
 [0 3]]

1.0